a img {border: none; }

.textbox {
    margin: 0;
    padding: 0;
    margin: 0 20px;
}

h1 {
    margin-top: 1em;
}

h2 {
    width: 800px;
}

#about.section.group {
    margin-top: 3em;
}

#about .col,
#alignment .ie7colfix{
    width: 45%;
}

.ie7floatfix {
    float: right;
    margin-right: 1.5em;
}

.ie7widthfix {
    width: 800px;
}

.ie7imgfix {
    width: 240px;
    height: auto;
}

#header-nav ul {
    position: relative;
    top: 9px;
}

#logo {
    position: relative;
    left: 10px;
}

#calltoday {
    position: relative;
    top: 10px;
}

.rsslides_here a {
    background: pink;
    background: rgba(255, 255, 255, .4);
}

.rslides_tab a {
    background: red;
}