/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background: url('../img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
}

body {
    font-size: 87.5%;
    font-family: Arial;
    line-height: 1.5;
    text-align: left;
}

.body {
    margin: 0 auto;
}

#wrapper {
    margin: 0 auto;
    width: 100%;
    clear: both;
    max-width: 900px;
}

/* ---------->>> Carousel <<<-----------*/

.window {
    margin-top: -80px;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
    zoom:1;
    *display: inline;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    zoom:1;
    *display: inline;
    width: 100%;
    border: 0;
}

.rslides_nav:focus {
    outline: none;
}

.rslides_tabs {
    margin-top: -30px;
    margin-left: 90px;
    z-index: 5;
    position: relative;
}

.rslides_tabs li {
    display: inline;
    float: none;
    _float: left;
    *float: left;
    margin-right: 5px;
}

.rslides_tabs a {
    text-indent: -9999px;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #fff;
    display: inline-block;
    _display: block;
    *display: block;
    -webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .3);
    width: 9px;
    height: 9px;
}

.rslides_here a {
    background: #999;
}

/* ---------->>> Flex iframe map <<<-----------*/

.Flexible-container {
    position: relative;
    padding-bottom: 45%;
    overflow: hidden;
    max-width: 425px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.Flexible-container iframe,
.Flexible-container object,
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
}

/* ---------->>> Font size, color <<<-----------*/

h1 {
    font-size: 1.5em;
    padding-left: 25px;
    clear: both;
}

h2 { font-size: 1.2em; margin-top: 0}

h2 span {font-size: .75em;}

h3 {margin-bottom: 0;}

#about h1,
#services h1,
#alignment h1,
#contact h1 { color: #98012e; }

/* ---------->>> Footer <<<-----------*/

footer {
    background-color: #98012e;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: white;
}

footer nav {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

footer nav a:link, footer nav a:visited {
    color: white;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

footer nav a:hover, footer nav a:active,
footer nav .active a:link, footer nav .active a:visited {
    text-decoration: underline;
    color: white;
    text-shadow: none;
}

#footernav {
    margin: 0 auto;
    width: 90%;
    clear: both;
    max-width: 900px;
    display: block;
}

.creditcard {
    max-width: 150px;
    min-width: 30%;
}

/* ---------->>> Header and nav <<<-----------*/

header, .header {
    margin: 0 auto;
    width: 100%;
    height: 160px;
    background-image: url('../img/headerimg2.png');
    box-shadow: 1px 1px 10px 1px gray;
    position: fixed;
    top: 0;
    left: 0;
    clear: both;
    z-index: 1000;
}

#mainHeader {
    margin: 0 auto;
    padding: 0 1em;
    width: 100%;
    clear: both;
    max-width: 900px;
    display: block;
}

#mainHeader nav {
    float: right;
    zoom:1;
    *display: inline;
    width: 100%;
    text-align: right;
    position: relative;
    top: 5px;
    height: 30px;
}

#mainHeader nav ul {
    list-style: none;
    margin: 0 auto;
    float: none;
    zoom:1;
    *display: inline;
    padding: 0px;
}

#mainHeader nav ul li {
    display: block;
}

#mainHeader nav ul li { display: inline; }

#mainHeader nav a:link,
#mainHeader nav a:visited {
    color: white;
    display: inline-block;
}

#mainHeader nav a:hover,
#mainHeader nav a:active,
#mainHeader nav .active a:link,
#mainHeader nav .active a:visited {
    color: #ffffff;
    text-shadow: none;
    background: #999;
}

#header-nav a {
    padding: 0 1em;
    line-height: 29px;
    text-transform: uppercase;
    font-size: 12px;
}

#navarea {
    padding: 0px;
    margin: 64px 0;
    float: right;
    zoom:1;
    *display: inline;
}

#navarea p {
    padding-top: 0px;
    text-align: center;
    color: #fff;
    display: inline-block;
    float: right;
    zoom:1;
    *display: inline;
    margin-right: .5em;
}

a {
    text-decoration: none;
}

#logo {
    width: 350px;
    margin-top: 46px;
    height: auto;
    z-index: 1000;
    position: relative;
    left: -4px;
}

#logo img {
    max-width: 100%;
    min-width: 90%;
}

.fbicon {
    float: right;
    zoom:1;
    *display: inline;
}

.fbicon img {
    width: 40px;
    height: auto;
}

/* ---------->>> Images <<<-----------*/

.bump {

}

.photo img {
    max-width: 90%;
    display: block;
    margin: 0 auto;
}

.radius {
    -webkit-border: 5px solid #ffffff;
    -moz-border: 5px solid #ffffff;
    -o-border: 5px solid #ffffff;
    border: 5px solid #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 5px 1px gray;
    -webkit-box-shadow: 2px 2px 5px 1px gray;
    -o-box-shadow: 2px 2px 5px 1px gray;
    box-shadow: 2px 2px 5px 1px gray;
}

.dim {
    max-width: 100%;

    margin: 0 auto;
    margin-top: 30px;
}

.transverse {
    max-width: 100%;
}

#trio {
    padding-left: 2%;
    display: block;
}

#trio .col {
    padding: 2%;
}

#trio img {
    width: 100%;
    margin-bottom: 16px;
    display: inline-block;
}

footer nav a:last-of-type {
    margin: 0;
    padding: 0;
}
footer nav p {
    margin-bottom: 0;
}

/* ---------->>> Pages <<<-----------*/

#about, #services, #alignment, #contact {
    background-color: #f6f6f7;
    height: auto;
}

#services a {
    color: #98012e;
}

#services a:hover {
    text-decoration: underline;
}

#home {
    margin-top: 200px;
}

#mostmakes h2 {
    background-color: #98012e;
    padding: 10px;
    color: white;
    border-radius: 2px;
}

#gmservices h2 {
    background-color: #98012e;
    padding: 10px;
    color: white;
    border-radius: 2px;
}

#mostmakes, #gmservices {
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 1em;
}

#callaction {
    text-align: center;
    color: #98012e;
    margin-top: 5%;
    line-height: 1.2;
}

.textbox {
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
}

.textbox p {
    margin-top: 0;
}


/* Fixes for iOS tablets */
.no-float,
.col.no-float {
    display: inline-block;
    float: none;
    zoom:1;
    *display: inline;
}
.vert-align-fix,
.col.vert-align-fix {
    vertical-align: top;
    float: none;
    zoom:1;
    *display: inline;
}

/*  GRID OF TWELVE   ============================================================================= */

.span_12-12 { width: 100%; }

.span_11-12 { width: 91.53%; }

.span_10-12 { width: 83.06%; }

.span_9-12 { width: 74.6%; }

.span_8-2 { width: 66.13%; }

.span_7-12 { width: 57.66%; }

.span_6-12 { width: 49.2%; }

.span_5-12 { width: 40.73%; }

.span_4-12 { width: 32.26%; }

.span_3-12 { width: 23.8%; }

.span_2-12 { width: 15.33%; }

.span_1-12 { width: 6.86%; }

/*  SECTIONS  ============================================================================= */

.section {
    clear: both;
    margin: 15px;
}

/*  GROUPING  ============================================================================= */

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
    display: inline-block;
    float: left;
    zoom:1;
    *display: inline;
}

/*  WIDTH AT LESS THAN 768 PIXELS */

@media only screen and (max-width: 768px) {

    html {
        background: url('../img/bg.jpg');
    }

    #logo {
        width: 30%;
        margin: 25px 10px 10px 10px;
        min-width: 200px;
    }

    #mainHeader nav {
        float: right;
        text-align: right;
        width: 760px;
        zoom:1;
        *display: inline;
    }

    .textbox {
        clear: both;
        padding: 0 15px 15px 15px;
        margin: 0 auto;
    }

    h1 {
        padding: 15px;
        margin: 0;
    }
    #header-nav a {
        padding: 0 1em;
        line-height: 29px;
        text-transform: uppercase;
        font-size: 14px;
    }
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    header {
        height: auto;
    }
    .span_12-12 {
        width: 100%;
    }

    .span_11-12 {
        width: 100%;
    }

    .span_10-12 {
        width: 100%;
    }

    .span_9-12 {
        width: 100%;
    }

    .span_8-12 {
        width: 100%;
    }

    .span_7-12 {
        width: 100%;
    }

    .span_6-12 {
        width: 100%;
    }

    .span_5-12 {
        width: 100%;
    }

    .span_4-12 {
        width: 100%;
    }

    .span_3-12 {
        width: 100%;
    }

    .span_2-12 {
        width: 100%;
    }

    .span_1-12 {
        width: 100%;
    }

    .window {
        margin-top: -45px;
    }

    header, .header, header.header {
        background-image: none;
        box-shadow: none;
        position: static;
    }

    #mainHeader nav {
        background-color: #98012e;
        width: 100%;
        height: 64px;
        float: left;
        zoom:1;
        *display: inline;
        margin: 0 auto;
        padding-left: 15%;
        text-align: left;
    }

    #mainHeader nav a:link, #mainHeader nav a:visited {
        line-height: 32px;
        width: 40%;
        text-align: center;
    }

    #mainHeader {
        width: 100%;
        margin-top: 0px;
        padding: 0;
        background-image: none;
        background-color: #4c4d4f;
    }

    #logo {
        height: 40px;
        margin: 16px 0 0 16px;
        width: auto;
        min-width: 0;
        position: absolute;
    }

    #logo img {
        height: 100%;
        width: auto;
    }

    #navarea {
       padding: 0px;
        margin: 0;
    }

    #navarea p {
        display: none;
        text-align: left;
        padding-left: 5px;
    }

    #navarea img {
        clear: both;
        float: left;
        zoom:1;
        *display: inline;
        display: block;
        margin: 1em;
    }

    #mainHeader nav ul li {
        padding: 0px;
        margin: 0 auto;
    }

    #mainHeader nav ul {
        padding: 0px;
        margin: 0 auto;
        width: 100%;
    }

    .textbox {
        clear: both;
        padding: 15px;
        margin: 0 auto;
    }

    h1 { padding: 15px;}

    #trio {
        display: none;
    }

    .rslides_tabs {
        display: none;
    }

    .col { margin: 0% 0 0% 0; }

    #wrapper { width: 100%; }
    .dim {display:block;
    width: 100%;}

    #table2col1 ul, #table1col1 ul {
        margin-bottom: 0;
    }
    #table2col2 ul, #table1col2 ul {
        margin-top: 0;
    }
    #header-nav a {
        padding: 0 1em;
        line-height: 29px;
        text-transform: uppercase;
    }
    #home {
        margin-top: 2.75em;
    }
}